<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../sass/main.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
		/>
		<script src="https://kit.fontawesome.com/022660c1b2.js" crossorigin="anonymous"></script>
		<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

		<title>Tribute project</title>
	</head>
	<body>
		<main id="main">
			<header>
				<h1 id="title">Berlin</h1>
				<p>Un chat d'exception</p>
			</header>
			<figure id="img-div">
				<img
					src="../assets/pictures/berlin.jpg"
					alt="Berlin"
					id="image"
					height="650"
					width="1500"
				/>
				<figcaption id="img-caption">
					Berlin, couché sur le clavier de son humain.
				</figcaption>
			</figure>

			<section>
				<article id="tribute-info">
					<h2 class="text-center">Un chat pas comme les autres</h2>
					<ul>
						<span class="fas fa-paw"> 2019</span>

						<li>Mai : Naissance de Berlin</li>
						<li>Avril : Arrivée de Berlin à l'association Félin Possible</li>
						<li>Août : Adoption de Berlin</li>
					</ul>

					<ul>
						<span class="fas fa-paw"> 2020</span>

						<li>Février : Rencontre Pixel, son futur meilleur ami</li>
						<li>Mars : Est coincé sur Paris à cause du Covid-19</li>
						<li>Juillet : Déménage officiellement à Paris</li>
					</ul>

					<ul>
						<span class="fas fa-paw"> 2021</span>

						<li>Février : Vois la neige pour la première fois !</li>
						<li>D'autres aventures à venir...</li>
					</ul>
				</article>
			</section>

			<footer>
				<a
					href="https://www.felinpossible.fr/#/index/liens"
					target="_blank"
					id="tribute-link"
					aria-label="Site de l'association Félin Possible"
					>Felin possible</a
				>
				<a href="#">Instagram</a>
			</footer>
		</main>
	</body>
</html>
